h1, h2, h3 {
  color: #4E6E5D;
}

a {
  color: #B9C6AE;
}

a:hover {
  color: #B9C6AE;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #FF8587;
}

.navbar-default {
  background-color: #FFA8A9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}